
@{
    ViewData["Title"] = "Hov hov!";
}

<h1>Hov hov!</h1>

<p>I har samlet denne ressource op inden for de sidste 30 sekunder.</p>
<p>Vent lidt endnu og scan evt. en anden ressource imens i venter.</p>