@model Test2.Models.Team

@{
    ViewData["Title"] = "Start!";
}

<h1>Wuhuu!</h1>

<h2>
    @Html.DisplayFor(model => model.TeamName) er i gang — <br />
    Skynd jer at komme i gang med at samle resurse!
</h2>
<p>I er startet @Html.DisplayFor(model => model.StarTtime) og skal have løst posten inden @Html.DisplayFor(model => model.StarTtime + TimeSpan.FromMinutes(15)).</p>
