@model IEnumerable<Test2.Models.TeamHasBought>

@{
    ViewData["Title"] = "ShowTeamBuys";
}

<h1>ShowTeamBuys</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamID)
            </td>
        </tr>
}
    </tbody>
</table>
