@model IEnumerable<Test2.Models.TeamHasBought>

@{
    ViewData["Title"] = "Holdets køb";
}

<h1>Holdets køb</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Købt
            </th>
            <th>
                Hold
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamID)
            </td>
        </tr>
}
    </tbody>
</table>
